:root {
    --bkgrnd: #2da1a3;
    --text: rgb(255, 255, 255);
    --btns: #e74646;
}


* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

/* hides the quiz, finish, score sections on the page */
  #quiz,
  #end,
  #score {
    display: none;
  }


  #root-m {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
  } 

/* aligns all the text in each text to the center */
  #home,
  #quiz,
  #end,
  #score,
  #table {
    text-align: center;
  }


/* Styles the body of the web page */
  body {
    background-color: var(--bkgrnd);
    color: var(--text);
  } 

/* Styles the header */
  header {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9px;
  } 

/* Styles both the h1 and h2 elements */
  h1,
  h2 {
    margin: 3vh auto;
  }

/* styles the the single h2 element */
  h2 {
    margin-top: 50px;
  }

  #start {
    border: 2px solid white;
    border-radius: 20px;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
  }
  
  input {
    border: none;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 3vh;
    width: 50vw;
    text-align: center;
    font-size: 1.3rem;
  }
  
/* This styles the buttons on the web page */
  button {
    background-color: var(--btns);
    color: var(--text);
    font-size: 1rem;
    padding: 10px 20px;
    width: 20vw;
    border-radius: 30px;
  }
  
  button:hover {
    background-color:#ed828b;
    transition: 50ms;
  }
  
  .options-btns {
    margin-top: 20px;
    padding: 10px 20px;
    width: 40vw;
    overflow: hidden;
  }
  


  #instruct {
    margin-bottom: 5vh;
  }
  
  #input-area,
  #end-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #retry,
  #clear {
    border: 2px solid white;
    border-radius: 20px;
  }
  
  #scores {
    background-color: var(--bkgrnd);
    font-size: 1.3rem;
    text-wrap: nowrap;
    border: 2px solid white;
  }
  #score h2 {
    border-bottom: 2px solid white;
    border-radius: 2px;
  }
  #finalscore {
    margin-bottom: 3vh;
  }
  
  #scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
  }
  
  #compare-answer {
    margin-top: 30px;
    padding: 20px;
  }
  
  #retry {
    margin: 3vh 0;
  }
  
  b {
    border-collapse: separate;
    padding: 10px 10vw;
    border-bottom: 2px solid white;
  }
  
  td, 
  th {
    padding: 20px 40px;
  }