:root {
    --bkgrnd: #2f547c;
    --text: white;
    --btns: #e55661;
}


* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

/* hides the quiz, finish, score sections on the page */
  #quiz,
  #finish,
  #score {
    display: none;
  }


  #root-m {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
  } 

/* aligns all the text in each text to the center */
  #home,
  #quiz,
  #finish,
  #score,
  #table {
    text-align: center;
  }


/* Styles the body of the web page */
  body {
    background-color: var(--bkgrnd);
    color: var(--text);
  } 


p {
    color: #c20cad;
    font-size: 1.3em;
    font-style: oblique;
}

button {
    outline: none;
    background-color: rgb(194, 12, 173);
    border: 2px solid #f3f364;
    border-radius: 10px;
    color: #f3f364;
    font-size: 1.3em;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background: #f3f364;
    color: #c20cad;
    border: 2px solid #c20cad;
}

/* --------------- */
/* nav bar section */
/* --------------- */

.nav-bar p {
    display: flex;
    justify-content: end;
    margin-top: -25px;
    margin-bottom: 10px;
    color: #c20cad;
}

/* --------------- */
/* Question Screen */
/* --------------- */

body {
    background-color: #f3f36d; 
    overflow: hidden;
}

.app {
    background: rgb(194, 12, 173, 0.5);
    width: 90%;
    max-width: 600px;
    height: 600px;
    border: 2px solid #c20cad;
    border-radius: 40px;
    text-align: center;
}

.app h1 {
    background: rgb(194, 12, 173, 0.4);
    font-size: 25px;
    font-weight: 600;
    color: #f3f36d;
    border: 2px solid #c20cad;
    border-radius: 20%;
    padding: 20px;
    margin-top: 15px;
    width: 250px;

}
.quiz-view {
    background: rgba(194, 12, 173, 0.5);

    width: 90%;
    max-width: 650px;
    margin: 40px auto 0;
    border: 2px solid #c20cad;
    border-radius: 10px;
    text-align: center;
    padding: 55px 0;
    display: block;
}

.quiz-view h2 {
    font-size: 18px;
    font-weight: 600;
    color: #f3f364;
    margin-top: -20px;

}

.btn {
    font-weight: 500;
    width: 80%;
    border: 2px solid #f3f364;
    padding:10px;
    margin: 10px 0 20px -44px;
    text-align: left;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background: #f3f364;
    color: #c20cad;
}

#nxt-btn {
    background: #c20cad;
    color: #f3f364;
    border: 2px solid #f3f364;
    width: 150px;
    padding: 8px 5px 8px 5px;
    margin: 20px auto 0;
    font-weight: 501;
    display: none;
}
.correct {
    background: #9aeabc;
}
.incorrect{
    background: #ff4000;
}
/* ----------------- */
/* Quiz Introduction */
/* ----------------- */

.quiz-intro {
    background-color: rgb(194, 12, 173, 0.6);
    border: 2px solid #f3f364;
    border-radius: 65px;
    margin: 0 18%;
    display: none;

}

.quiz-intro, h1, p {
    color: #f3f364;
    font-weight:200;
}
.quiz-intro button {
    display: block;
    margin: 0 auto;
}

.quiz-intro main {
    margin-bottom: 30vh;
    margin-left: 10px;
    margin-right: 10px;
}

   
/* -------------- */
/* Quiz Exit View */
/* -------------- */

.quiz-exit-view {
    display: none;
}

/* ---------------- */
/* High Scores View */
/* ---------------- */

.highscores-view {
    display: none;
}

.highscores-view ol {
    overflow-y: scroll;
    max-height: 100px;
}

.highscores-view, ol, li {
    list-style: none;
}