/* ------------------- */
/* global declaration */
/* ------------------ */

* {
    margin: o auto;
    padding: 0 auto;
    box-sizing: border-box;

    /* debugging */
    /* border: 1px solid red; */

    /* global default font family */
    font-family: monospace;
}

body {
    background-color: #f3f36d;
    overflow: hidden;
}

p {
    color: #c20cad;
    font-size: 1.3em;
}

button {
    outline: none;
    background-color: rgb(194, 12, 173);
    color: #f3f364;
    font-size: 1.3em;
}

/* ------------------- */
/* outer main content */
/* ------------------- */

.outer-main {
    padding: 10px;
    height: 100v;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


/* --------------- */
/* nav bar section */
/* --------------- */

.nav-bar p {
    display: flex;
    justify-content: end;
    margin-top: -25px;
    margin-bottom: 10px;
    color: #c20cad;
}

/* ----------------- */
/* main page content */
/* ----------------- */

.main-content {
    background: rgba(194, 12, 173, 0.5);
    height: 700px;
    width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----------------- */
/* Quiz Introduction */
/* ----------------- */
.quiz-intro, h1, p {
    color: #f3f364;
    margin: 10px;
}

/* ----------------- */
/* Quiz Main Content */
/* ----------------- */